<script src="scripts/hacker.js"></script>
<div class="flex-box">
    <h1 class="name" onload="changeColor()">Can you guess who said this quote?</h1>
</div>
<div class="flex-box">
    <div class="quote-box"><%= quoteObj.quote %></div>
</div>

<form action="/check" method="POST">
    <div class="flex-box">
        <label for="example"></label>
        <input id="guess-input" type="text" name="guessTerm" autocomplete="off" placeholder="Guess..."/>
    </div>
    <div>
        <input type="submit" value="Send" accesskey="s" hidden />
    </div>
</form>

<div class="guess-list">
    <% if (guesses.length != 0) { %>
        <% guesses.forEach(function(guess, index) { %>
            <% if (quoteObj.acceptableAnswers.includes(guess)) { %>
                <div class="guess-item" style="background-color: green"><%= guess %></div>

            <% } else { %>
                <div class="guess-item" style="background-color: red"><%= guess %></div>
            <% } %>
        <% }) %>
    <% } %>
</div>
