<div class="flex-box">
    <h1>This is the homepage.</h1>
</div>

<form action="/check" method="POST">
    <div class="flex-box">
        <label for="example"></label>
        <input id="example" type="text" name="guessTerm" autocomplete="off" placeholder="Guess..."/>
    </div>
    <div>
        <input type="submit" value="Send" accesskey="s" hidden />
    </div>
</form>

<div class="flex-box">
    <% if (guesses.length != 0) { %>
        <% guesses.forEach(function(guess, index) { %>
            <div class="flex-box><%= guess %></div>
        <% }) %>
    <% } %>
</div>
