:root {
    --background-color: #26292e;
    /* --bs-primary-rgb: #672222; */
}

html {
    height: 100%;
    margin: 0;
}
.selector {
	box-shadow: none; /* remove box shadow */
}

* {
    color: #ffffff;
}

.flex-box {
    display: flex;
    justify-content: center;
}

body {
    height: inherit;
    background: var(--background-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

}

input[type="text"] {
    background-color: var(--background-color);
    color: #ffffff;
    width: 30%;
    height: 30%;
    font-size: 25px;
    border-style: solid;
    border-color: aquamarine;
    border-width: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.guess-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guess-item {
    background-color: #80858d;
    color: white;
    width: 30%;
    font-size: 25px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 5px;
}

.quote-box {
    display: flex;
    font-size: 30px;
    width: 30%;
    margin: 20px;
    justify-content: center;
}

.play-again-button {
    background-color: #80858d;
    padding: 25px;
    border-width: 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.animate__headShake {
    animation-duration: 2s;
}

.hint-box {
    border-radius: 10px;
    border-color: gold;
    border-style: solid;
    width: 20%;
    background-color: #80858d;
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
}

.hint-button {
    font-size: 20px;
    margin: 10px;
    background-color: #26292e;
    padding: 25px;
}

#display-hint-1, #display-hint-2 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    width: 20%;
    background-color: #26292e;
    height: 100px;
    margin-top: -10px;
    z-index: -1;
}
